/* line 42, style.scss */
*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  outline: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 51, style.scss */
html {
  min-height: 100%;
}

/* line 55, style.scss */
body {
  font-size: 100%;
  font-family: "Open Sans", Verdana, Arial, sans-serif;
  background-color: white;
  background-image: url("../images/body-bg.png");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  background-attachment: fixed;
}

/* line 68, style.scss */
a {
  text-decoration: none;
  font-size: 16px;
  color: inherit;
}
/* line 73, style.scss */
a:hover, a:visited, a:active, a:focus {
  color: inherit;
  text-decoration: none;
}

/* line 80, style.scss */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Open Sans", Verdana, Arial, sans-serif;
  color: inherit;
}

/* line 90, style.scss */
img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

/*************************************************************
Global Classes for UI Elements:
*************************************************************/
/***************************************** Basic List Group */
/* line 102, style.scss */
.list-group {
  list-style: none;
  margin-bottom: 30px;
}
/* line 106, style.scss */
.list-group li.list-group-item {
  border: 0;
  background-color: transparent;
  padding: 10px 0;
}

/*************************************************************
Global UI Elements:

01 - Heaader
02 - Navigation
03 - Main
04 - Footer
*************************************************************/
/********************************************* 01 - Heaader */
/* line 129, style.scss */
header[role="banner"] {
  color: white;
  height: auto;
  background-color: #878e6e;
  -webkit-border-radius: 15px 15px 0 0;
  -moz-border-radius: 15px 15px 0 0;
  -ms-border-radius: 15px 15px 0 0;
  border-radius: 15px 15px 0 0;
  padding: 15px 45px;
  margin-top: 30px;
}
/* line 137, style.scss */
header[role="banner"] [class*="col-"] {
  padding: 0;
}
/* line 141, style.scss */
header[role="banner"] a {
  color: inherit;
}
/* line 145, style.scss */
header[role="banner"] a#main-logo {
  display: block;
}
/* line 148, style.scss */
header[role="banner"] a#main-logo > img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
/* line 155, style.scss */
header[role="banner"] .contact-box {
  text-align: right;
  padding: 15px 0;
}
/* line 159, style.scss */
header[role="banner"] .contact-box .tel {
  font-size: 34px;
  font-weight: 600;
  line-height: 34px;
}
/* line 165, style.scss */
header[role="banner"] .contact-box .email {
  font-size: 25px;
  font-weight: 300;
}
/* line 169, style.scss */
header[role="banner"] .contact-box .email a {
  line-height: 25px;
  font-size: inherit;
}
/* line 173, style.scss */
header[role="banner"] .contact-box .email a:hover {
  text-decoration: none;
}

@media (max-width: 767px) {
  /* line 185, style.scss */
  header[role="banner"] {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    margin-top: 0px;
  }
}
/****************************************** 02 - Navigation */
/* line 195, style.scss */
nav[role="navigation"] {
  padding: 0;
  margin-bottom: 0;
}
/* line 200, style.scss */
nav[role="navigation"] .navbar-collapse {
  padding: 0;
}
/* line 207, style.scss */
nav[role="navigation"] > .navbar-header,
nav[role="navigation"] > .navbar-header,
nav[role="navigation"] > .navbar-collapse,
nav[role="navigation"] > .navbar-collapse {
  margin: 0;
}
/* line 211, style.scss */
nav[role="navigation"] .navbar-nav {
  margin: 0 auto;
}
/* line 215, style.scss */
nav[role="navigation"] .navbar-collapse {
  border-top: 0;
  box-shadow: none;
}

@media (min-width: 768px) {
  /* line 223, style.scss */
  .navbar-nav {
    display: table;
    width: 100%;
  }
  /* line 227, style.scss */
  .navbar-nav > li {
    display: table-cell;
    text-align: center;
    float: none;
  }

  /* line 234, style.scss */
  .nav > li > a {
    padding: 15px 0;
  }
}
/* line 240, style.scss */
nav.navbar {
  border-radius: 0;
  border-width: 0;
}

/* line 247, style.scss */
nav.navbar-default {
  background-color: #5d654d;
  border-color: #a7ac9f;
}
/* line 251, style.scss */
nav.navbar-default .navbar-nav > li > a {
  color: white;
  text-transform: uppercase;
  border-right: 1px solid #a7ac9f;
}
/* line 256, style.scss */
nav.navbar-default .navbar-nav > li > a:hover {
  color: #fcb034;
}
/* line 261, style.scss */
nav.navbar-default .navbar-nav > li:last-child > a {
  border-right: 0;
}
/* line 267, style.scss */
nav.navbar-default .navbar-nav > .open > a,
nav.navbar-default .navbar-nav > .open > a:hover,
nav.navbar-default .navbar-nav > .open > a:focus {
  color: #a7ac9f;
  border-color: #a7ac9f;
  background-color: #5d654d;
}
/* line 273, style.scss */
nav.navbar-default .navbar-toggle {
  border-color: #a7ac9f;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
/* line 277, style.scss */
nav.navbar-default .navbar-toggle:hover {
  background-color: #a7ac9f;
}
/* line 280, style.scss */
nav.navbar-default .navbar-toggle:focus {
  background-color: #a7ac9f;
}
/* line 284, style.scss */
nav.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

@media (min-width: 768px) {
  /* line 293, style.scss */
  nav.navbar-default .navbar-nav > li > a {
    font-size: 12.003px;
  }
}
@media (min-width: 992px) {
  /* line 301, style.scss */
  nav.navbar-default .navbar-nav > li > a {
    font-size: 14.03509px;
  }
}
@media (min-width: 1200px) {
  /* line 309, style.scss */
  nav.navbar-default .navbar-nav > li > a {
    font-size: 16px;
  }
}
/* line 315, style.scss */
.dropdown-menu {
  background-color: #cfcfba;
  padding: 0 10px;
  margin: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  border-color: #a7ac9f;
  box-shadow: none;
  left: -1px;
  border-width: 0;
}
/* line 325, style.scss */
.dropdown-menu .divider {
  margin: 0;
  background-color: #5d654d;
}
/* line 330, style.scss */
.dropdown-menu li > a {
  color: #5d654d;
  text-transform: uppercase;
  padding: 10px;
}
/* line 335, style.scss */
.dropdown-menu li > a:hover {
  color: white;
  background-color: transparent;
}

@media (max-width: 767px) {
  /* line 344, style.scss */
  .navbar-nav .open .dropdown-menu {
    padding: 0 15px;
    background-color: #cfcfba;
  }
  /* line 348, style.scss */
  .navbar-nav .open .dropdown-menu > li > a {
    padding: 10px 0;
  }

  /* line 354, style.scss */
  nav.navbar-default {
    border-color: #5d654d;
  }
  /* line 357, style.scss */
  nav.navbar-default .navbar-nav > li > a {
    border-right: 0;
  }
}
/************************************************ 03 - Main */
/* line 366, style.scss */
main[role="main"] {
  min-height: 500px;
  background-color: white;
  padding: 30px 15px;
}

/********************************************** 04 - Footer */
/* line 377, style.scss */
footer[role="contentinfo"] {
  color: white;
  background-color: #a5a983;
  margin-bottom: 30px;
  padding: 15px 15px 0 15px;
}
/* line 385, style.scss */
footer[role="contentinfo"] .list-group li.list-group-item {
  padding: 2px 0;
}
/* line 388, style.scss */
footer[role="contentinfo"] .list-group li.list-group-item > a {
  font-size: 12.003px;
}
/* line 394, style.scss */
footer[role="contentinfo"] h6 {
  font-size: 16px;
}
/* line 398, style.scss */
footer[role="contentinfo"] p {
  margin: 0;
}
/* line 403, style.scss */
footer[role="contentinfo"] a:hover {
  color: #5d654d;
}
/* line 408, style.scss */
footer[role="contentinfo"] #sub-footer {
  font-size: 12.003px;
  background-color: #878e6e;
  padding: 10px 0;
  margin-top: 15px;
}
/* line 414, style.scss */
footer[role="contentinfo"] #sub-footer .contact-box {
  text-align: right;
}
/* line 417, style.scss */
footer[role="contentinfo"] #sub-footer .contact-box .tel {
  line-height: 16px;
}
/* line 421, style.scss */
footer[role="contentinfo"] #sub-footer .contact-box .email {
  margin-left: 20px;
}
/* line 424, style.scss */
footer[role="contentinfo"] #sub-footer .contact-box .email a {
  font-size: inherit;
}
/* line 432, style.scss */
footer[role="contentinfo"] #accordion .panel {
  border: none;
  box-shadow: none;
  background-color: transparent;
}
/* line 437, style.scss */
footer[role="contentinfo"] #accordion .panel .m-heading {
  background-color: #5d654d;
  padding: 0;
}
/* line 441, style.scss */
footer[role="contentinfo"] #accordion .panel .m-heading h6 {
  padding: 15px;
  margin: 0;
  cursor: pointer;
}
/* line 449, style.scss */
footer[role="contentinfo"] .div-collapse {
  overflow-x: visible;
  -webkit-overflow-scrolling: touch;
  border-top: 0;
  box-shadow: none;
}

@media (max-width: 767px) {
  /* line 460, style.scss */
  footer[role="contentinfo"] {
    text-align: center;
    margin-bottom: 0px;
  }
  /* line 464, style.scss */
  footer[role="contentinfo"] #sub-footer {
    padding: 20px 0;
  }
  /* line 468, style.scss */
  footer[role="contentinfo"] .list-group {
    margin-bottom: 0;
  }
  /* line 471, style.scss */
  footer[role="contentinfo"] .list-group li.list-group-item {
    padding: 10px 0!important;
  }
  /* line 474, style.scss */
  footer[role="contentinfo"] .list-group li.list-group-item > a {
    font-size: 16px;
    color: #5d654d;
  }
  /* line 481, style.scss */
  footer[role="contentinfo"] #accordion {
    margin: 20px 15px;
  }
  /* line 483, style.scss */
  footer[role="contentinfo"] #accordion .div-collapse {
    background-color: #cfcfba;
  }
}
@media (min-width: 768px) {
  /* line 493, style.scss */
  .div-collapse.collapse {
    display: block !important;
    height: auto !important;
    overflow: visible !important;
  }
}
@media (max-width: 1200px) {
  /* line 504, style.scss */
  footer[role="contentinfo"] #sub-footer {
    text-align: center;
  }
  /* line 507, style.scss */
  footer[role="contentinfo"] #sub-footer .contact-box {
    text-align: center;
  }
  /* line 510, style.scss */
  footer[role="contentinfo"] #sub-footer .contact-box .email {
    margin-left: 10px;
  }
}
